


.postContainer{
  width: 400px;
  height: 500px;
 border-radius:10px;
 border: 2 solid #FFFFFF;
  margin: 30px 20px;
  margin-left: 450px;
  background-color:#FFFFFF; 
}
.head{
  width: 400px;
  height: 80px;
  background-color:#FFFFFF; 
  border-radius: 10px;

}

.propic{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.uname  {
  display: inline-block;
  margin-left: 10px;

  
}
.nm{
  position: absolute;
  margin-top: 5px;
}
.moreBtn{
  position: absolute;
display: inline-block;
margin-left: 300px;
margin-top: 20px;
color: #383838;
}

.moreBtn,strong:hover{
  cursor: pointer;
}
.userIcon{
 color:#383838;
}
.postTxt{
  padding: 10px;
}
.lines{
  width: 390px;
  height: 1px;
  margin: 5px;
  background-color: gray;

}
.likeCommShare{
  height: 20px;
  margin: 8px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 6px;
}
.like{
 width: 126px;
 text-align: center;
} 

.share{
  width: 126px;
  text-align: center;
}

.comment{
  width: 126px;
  text-align: center;
}
.like:hover,.comment:hover,.share:hover{
  background-color:#F0F2F5;
  cursor: pointer;
}
.commanTxt{
  margin:0px 4px;
}
